<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yayasan Al-Biruni Cerdas Mulia Bandung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="kbtkStyle.css" rel="stylesheet">
</head>
<body>

<!-- sub navigation
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">KB-TK</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">SD</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">SMP-SMA</a>
				</li>
			</ul>
		</div>
	</div>
</nav> -->

<div class="container-fluid">
        <div class="row jumbotron">	
            <div clas="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">Budaya Guru Al-Biruni</p>
                <p>> Akhlakul karimah</p>
                <p>> Integritas dan Kejujuran</p>
                <p>> Disiplin</p>
                <p>> Belajar dan Bekerja Keras</p>
                <p>> Kerjasama Tim</p>
                <p>> Inovasi dan Kreativitas</p>
            </div>
            <div col="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <!-- <a href="#">
                    <button type="buttoon" class="btn btn-outline-secondary btn-lg">Kenalan Yuk!</button>
                </a> -->
            </div>
        </div>
    </div>



<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Profile Guru & Staff</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead">KB-TK</p>
		</div>
	</div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team1.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">John Doe</h4>
					<p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team2.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Mary Jo</h4>
					<p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team3.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Phil Ho</h4>
					<p class="card-text">Phil is a developer with over 5 years of web development experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Profile Guru & Staff</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">SD</p>
        </div>
    </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team1.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">John Doe</h4>
					<p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team2.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Mary Jo</h4>
					<p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team3.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Phil Ho</h4>
					<p class="card-text">Phil is a developer with over 5 years of web development experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Profile Guru & Staff</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">SMP-SMA</p>
        </div>
    </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team1.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">John Doe</h4>
					<p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team2.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Mary Jo</h4>
					<p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/team3.png" alt="">
				<div class="cad-body">
					<h4 class="card-title">Phil Ho</h4>
					<p class="card-text">Phil is a developer with over 5 years of web development experience</p>
					<a href="#" class="btn btn-outline-secondary">see profile</a>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>