<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yayasan Al-Biruni Cerdas Mulia Bandung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<!-- include navbar -->
<div>
	<%- include('partials/nav', {active: "sd"}); %>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h2>Visi KB-TK Al Biruni Cerdas Mulia</h2>
			<p>KB-TK Al Biruni sebagai wahana pendidikan anak terbaik yang menghargai dan mengembangkan beragam potensi anak dalam rangka membentuk anak yang bertauhid, berakhlak mulia, cerdas, tangguh dan kreatif.</p>
			<p>Dengan menggunakan pendekatan multiple intelligences serta creative & fun learning. Terdapat beragam kegiatan dan program belajar yang dapat diikuti anak. Kegiatan belajar merentang dari berbagai kegiatan diniyah seperti praktik ibadah serta membaca dan menghapal Al-Quran, beragam kegiatan fisi-motorik, bermacam aktivitas seni dan musik, dasar-dasar matematika, sains, membaca dan menulis, serta praktik kemandirian sehari-hari</p>
			
			<br>
			<!-- <a href="#" class="btn btn-primary">Learn more</a> -->
		</div>
		<div class="col-lg-6">
			<img src="/mission-and-vision.png" class="img-fluid" alt="">
		</div>
	</div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h2>Misi KB-TK Al Biruni Cerdas Mulia</h2>
			<p>> Menciptakan lingkungan dan kegiatan belajar yang islami, menyenangkan dan stimulatif sehingga mendorong terbentuknya anak yang bertauhid, berakhlak mulia, cerdas dan kreatif</p>
			<p>> Mengembangkan kualitas dan profesionalisme staf pendidik melalui berbagai pelatihan, budaya belajar guru, dan kegiatan supervisi</p>
			<p>> Mengembangkan kurikulum dan beragam kegiatan belajar yang aktif, kreatif, efektif dan menyenangkan</p>
			<p>> Mengembangkan kerja sama dengan orang tua murid, pakar dan lembaga pendidikan lainnya dalam rangka mewujudkan visi sekolah</p>
			<br>
			<!-- <a href="#" class="btn btn-primary">Learn more</a> -->
		</div>
	</div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h2>Kegiatan Pembelajaran Harian</h2>
			<p>> Berbaris (hafalan Al-Quran surat pendek) </p>
			<p>> Kegiatan Jasmani</p>
			<p>> Say hello, day date, month, weather </p>
			<p>> Morning Talk</p>
			<p>> Story Telling</p>
			<p>> Promosi Kegiatan</p>
			<p>> Kegiatan Inti</p>
			<p>> Bermain bebas</p>
			<p>> Evaluasi</p>
			<br>
			<!-- <a href="#" class="btn btn-primary">Learn more</a> -->
		</div>
		<div class="col-lg-6">
			<img src="/belajar.png" class="img-fluid" alt="">
		</div>
	</div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h2>Program Unggulan</h2>
			<p>> Program Culture of the World</p>
			<p>> Pembelajaran Sentra</p>
			<p>> Career Day</p>
			<p>> Paralel Learning</p>
			<p>> Project Based Learning</p>
			<p>> Festival Belajar</p>
			<p>> Program Bilingual</p>
			<p>> Program Daycare</p>
			<br>
			<!-- <a href="#" class="btn btn-primary">Learn more</a> -->
		</div>
		<div>
			<br>
			<h2>Beberapa Kegiatan Pendukung</h2>
			<p>> Kegiatan Learning trip, dua kali tiap satu semester.</p>
			<p>> Kegiatan Parents Day.</p>
			<p>> Kegiatan Pentas Seni.</p>
			<p>> Kegiatan Parenting Class.</p>
			<p>> Pemeriksaan kesehatan umum dan gigi.</p>
			<p>> Observasi dan pemeriksaan perkembangan psikologi anak.</p>
			<p>> Kegiatan POM yang diisi dengan pengajian dan seminar kecil.</p>
			<br>
		</div>
	</div>
</div>


<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Profile Guru & Staff KB & TK</h1>
		</div>
		<!-- <hr> -->
		<!-- <div class="col-12">
			<p class="lead">KB-TK</p>
		</div> -->
	</div>
</div>

<button class="fun" data-toggle="collapse" data-target="#emoji">klik disini </button>
<div id="emoji" class="collapse">
	<div class="container-fluid padding">
		<div class="row text-center">
			<!--- Cards -->
			<div class="container-fluid padding">
				<div class="row padding">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="/1.png" alt="">
							<div class="cad-body">
								<h4 class="card-title">John Doe</h4>
								<p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
								<!-- <a href="#" class="btn btn-outline-secondary">see profile</a> -->
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="/2.png" alt="">
							<div class="cad-body">
								<h4 class="card-title">Mary Jo</h4>
								<p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
								<!-- <a href="#" class="btn btn-outline-secondary">see profile</a> -->
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="/1.png" alt="">
							<div class="cad-body">
								<h4 class="card-title">Phil Ho</h4>
								<p class="card-text">Phil is a developer with over 5 years of web development experience</p>
								<!-- <a href="#" class="btn btn-outline-secondary">see profile</a> -->
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="/2.png" alt="">
							<div class="cad-body">
								<h4 class="card-title">Phil Ho</h4>
								<p class="card-text">Phil is a developer with over 5 years of web development experience</p>
								<!-- <a href="#" class="btn btn-outline-secondary">see profile</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- include footer -->
<div>
	<%- include('partials/footer', {active: "sd"}); %>
</div>

</body>
</html>